.card-wrapper-cert {
    height: 13rem;
    width: 18rem;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.331);
    filter: drop-shadow(-1px 1px 8px rgba(180, 183, 255, 0.629));
    margin: 1.5em;
    margin-top: 3.5em;
    background-color: rgba(252, 250, 248);
}

.card-image-cert {
    height: 100%;
    width: 18rem;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.053));
}


.links-cards {
  text-decoration: none;
}


.card-wrapper-cert {
  position: relative;  /* Adjusted to be relative so children can be positioned absolutely. */
  /* Other styles omitted for brevity */
}

.hover-content {
  border: 10px solid rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(232, 241, 255, 0.629);
  color: #5d5d5d;  /* White text color */
  opacity: 0;  /* Start invisible */
  transition: opacity 0.3s;  /* Smoothly transition visibility */
  font-weight: 200;
  padding: 10px;
}

.card-wrapper-cert:hover .hover-content {
  opacity: 1;  /* Fully visible on hover */
}

.card-wrapper-cert:hover .card-image-cert {
  display: none;
}
