
.home-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.home-circle{
    position: absolute;
    left: 26%;
    top:11.5%;
    filter: drop-shadow(1px 1px 10px rgba(172, 175, 255, 0.919));
    z-index: 0;
}

.home-profile-picture{
    position: absolute;
    left: 35%;
    top:6.2%;
    filter: drop-shadow(1px 1px 20px rgba(172, 175, 255, 0.919));
    z-index: 1;
}

.button-class {
    margin-top: 30px;
    position: absolute;
    left: 77%;
    top:70.1%;
    filter: drop-shadow(1px 1px 5px rgba(107, 110, 173, 0.919));
    animation: moveUpDown 4s infinite alternate;
    
}

.touch{
    background-color: #ffffff;
    color: #6b0080;
    border: 0;
    padding: 30px;
    font-weight: 700;
}

.touch:hover{
    animation: rotateHover 1.5s ease-in-out alternate infinite;
}

@keyframes rotateHover {
    0% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(4deg);
    }
    100% {
      transform: rotate(-4deg);
    }
  }

@media (max-width: 730px) { 
    .home-profile-picture img{
        padding-top: 140px;
        
    }
    .home-profile-picture{
        position: absolute;
        left: 5%;
        top:11.8%;
        
    }
    
    .home-info{
        padding-top: 30px;
        justify-content: start;
    }

    #home{
        justify-content: center;
    }
}