.home-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards 2s; /* 2s delay added */
}


.home-circle{
    position: absolute;
    left: 35%;
    bottom: 0%;
    filter: drop-shadow(1px 1px 10px rgba(172, 175, 255, 0.919));
    z-index: 0;
}

.home-circle img {
    height: 85vh;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.home-profile-picture{
    position: relative;
    top: 6.2%;
    filter: drop-shadow(1px 1px 20px rgba(172, 175, 255, 0.919));
    z-index: 0;
    overflow-x: visible;
    max-width: 100%; /* Adjust the value as per your needs */
    overflow-y: hidden;
    left: 3%;
}

.home-profile-picture img{
    height: 87vh;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.button-class {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards 1s; /* 2s delay added */
}

.touch{
    position: absolute;
    left: 75%;
    top:70.1%;
    background-color: #6b0080;
    color: #ffffff;
    border-radius: 20px;
    padding: 25px;
    font-weight: 700;
    border: none;
    animation: fadeIn 2s ease-in forwards 1s; /* 2s delay added */
}


.touch:hover{
    animation: rotateHover 1.5s ease-in-out alternate infinite;
}

@keyframes rotateHover {
    0% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(4deg);
    }
    100% {
      transform: rotate(-4deg);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 1000px) { 
    .home-profile-picture img{
        height: 93%;
    }

    .home-circle{
        display: none;
    }
    .home-profile-picture {
        width: 350px;
    }
    
    .home-info{
        padding-top: 50px;
        justify-content: start;
        
    }

    #home{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 5px 5px 0px !important;
    }
}

