.navmenu{
    background-color: rgba(249, 249, 249, 0.976);
    filter: drop-shadow(1px 3px 15px rgba(172, 175, 255, 0.919));
}

.link {
    color: rgb(56, 56, 56);
    padding-inline: 50px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 12px;
}


.link:hover{
    color: #6b0080;
    font-weight: 600;
    
}

.link.active {
    color: #6b0080;
    font-weight: 600;
    /* border-bottom: 1px solid #6b0080; */
    
}